<%= form_with model: @figurine do |f| %>
  <div>
    <%= f.label "Nom" %><br>
    <%= f.text_field :name %>
    <% @figurine.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Univers" %><br>
    <%= f.collection_select :universe_id, Universe.all, :id, :name %>
    <% @figurine.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Commentaire" %><br>
    <%= f.text_area :comment %>
    <% @figurine.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Image de référence" %><br>
    <%= f.file_field :reference_picture %>
    <% @figurine.errors.full_messages_for(:reference_picture).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Figurine peinte" %><br>
    <%= f.file_field :painted_picture %>
    <% @figurine.errors.full_messages_for(:painted_picture).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Artiste" %><br>
    <%= f.collection_select :artist_id, Artist.all, :id, :name %>
    <% @figurine.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label "Portrait" %><br>
    <%= f.file_field :portrait %>
    <% @figurine.errors.full_messages_for(:portrait).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
