<div class="card text-dark bg-light mb-3 figurine-card">
  <div class="card-header">
    <h1 class="m-0"><%= @figurine.name %></h1>
    <p class="m-0"><%= link_to "Modifier", edit_figurine_path(@figurine) %> |
    <%= link_to "Supprimer", figurine_path(@figurine),
                    method: :delete,
                    data: { confirm: "Etes-vous sûr ?" } %></p>
  </div>
  <div class="card-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <%= render "picture", picture: @figurine.portrait %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"><span class="font-weight-bold">Univers : </span><%= @figurine.universe&.name %></p>
            <p class="card-text"><span class="font-weight-bold">Espèce : </span><%= @figurine.family&.name %></p>
            <p class="card-text"><span class="font-weight-bold">Commentaire : </span><%= @figurine.comment %></p>
            <p class="card-text"><span class="font-weight-bold">Artiste : </span><%= @figurine.artist&.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <%= render "picture", picture: @figurine.reference_picture %>
        </div>
        <div class="col-md-6">
          <%= render "picture", picture: @figurine.painted_picture %>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <h4 class="m-0">Réservations</h4>
      </div>
      <div class="card-body">
        <p class="card-text font-weight-bold">Réservations existantes :</p>
        <ul>
          <% @bookings.each do |booking| %>
            <li><%= "#{booking.game.name} - par #{booking.player}" %></li>
          <% end %>
        </ul>

        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseBookingForm" role="button" aria-expanded="false" aria-controls="collapseBookingForm">
          Réserver cette figurine pour une partie
        </a>

        <div class="collapse" id="collapseBookingForm">
          <%= form_with model: [@figurine, @booking] do |f| %>
            <div class="mb-3">
              <%= f.label "Partie", class: "form-label" %><br>
              <%= f.collection_select :game_id, Game.all, :id, :name, {}, {class: "form-select"} %>
              <% @booking.errors.full_messages_for(:game_id).each do |message| %>
              <div><%= message %></div>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.label "Joueur", class: "form-label" %><br>
              <%= f.text_field :player, class: "form-control" %>
              <% @booking.errors.full_messages_for(:player).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>

            <div>
              <%= f.submit "Enregistrer", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
