<%= link_to "<i class='fa fa-arrow-left'></i> Revenir à la liste".html_safe, figurines_path, class: "back-link" %>

<div class="card text-dark bg-light mb-3 figurine-card">
  <div class="card-header">
    <h1 class="m-0"><%= @figurine.name %></h1>
    <p class="m-0">
      <%= link_to "Réserver pour une partie", "#",
                  data: {"bs-toggle" => "modal", "bs-target" => "#bookingModal"} %> |
      <%= link_to "Modifier", edit_figurine_path(@figurine) %> |
      <%= link_to "Supprimer", figurine_path(@figurine),
                  method: :delete,
                  data: { confirm: "Etes-vous sûr ?" } %>
    </p>
  </div>
  <div class="card-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <%= render "picture", picture: @figurine.portrait %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <p class="card-text"><span class="font-weight-bold">Univers : </span><%= @figurine.universe&.name %></p>
            <p class="card-text"><span class="font-weight-bold">Espèce : </span><%= @figurine.family&.name %></p>
            <p class="card-text"><span class="font-weight-bold">Classe : </span><%= @figurine.speciality&.name %></p>
            <p class="card-text"><span class="font-weight-bold">Commentaire : </span><%= @figurine.comment %></p>
            <p class="card-text"><span class="font-weight-bold">Artiste : </span><%= @figurine.artist&.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <%= render "picture", picture: @figurine.reference_picture %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <%= render "picture", picture: @figurine.painted_picture %>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text font-weight-bold">Parties jouées :</p>
        <%= render "played_games", bookings: @bookings %>
      </div>
    </div>
  </div>
</div>

<%= render "booking_modal", booking: @booking, figurine: @figurine %>
