<h1><%= @figurine.name %></h1>

<h3>Commentaire</h3>
<p><%= @figurine.comment %></p>

<h3>Image de référence</h3>
<%= render "picture", picture: @figurine.reference_picture %>

<h3>Figurine peinte</h3>
<%= render "picture", picture: @figurine.painted_picture %>

<h3>Portrait</h3>
<%= render "picture", picture: @figurine.portrait %>

<ul>
  <li><%= link_to "Modifier", edit_figurine_path(@figurine) %></li>
  <li><%= link_to "Supprimer", figurine_path(@figurine),
                  method: :delete,
                  data: { confirm: "Etes-vous sûr ?" } %></li>
</ul>
