<h1>Liste des artistes</h1>

<div class='list-actions'>
  <%= paginate @artists %>
  <%= link_to "Ajouter un artiste", new_artist_path, class: "btn btn-dark" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <th scope="row"><%= artist.name %></th>
        <td><%= link_to "Modifier", edit_artist_path(artist) %> |
            <%= link_to "Supprimer", artist_path(artist), method: :delete, data: { confirm: "Etes-vous sûr ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
