<%= form_with model: @user do |f| %>
  <div>
    <%= f.label "Nom" %><br>
    <%= f.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
