<nav class="navbar">
  <ul class="navbar-nav">
    <li class="navbar-item <%= active_class(figurines_path) %>"><%= link_to "Figurines", figurines_path %></li>
    <li class="navbar-item <%= active_class(universes_path) %>"><%= link_to "Univers", universes_path %></li>
    <li class="navbar-item <%= active_class(artists_path) %>"><%= link_to "Artistes", artists_path %></li>
  </ul>
</nav>
